<FilesMatch "^\.ht">
	Order allow,deny
	Deny from all
</FilesMatch>

<FilesMatch ".(css)$">
Header set Cache-Control "max-age=86400"  #one day
</FilesMatch>
<FilesMatch ".(ico|gif|jpg|jpeg|png)$">
Header set Cache-Control "max-age=2419200"  #four weeks
</FilesMatch>

<IfModule mod_deflate.c>
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE text/javascript
AddOutputFilterByType DEFLATE application/javascript application/x-javascript
</IfModule>

Options +FollowSymlinks
Options All -Indexes

DirectoryIndex index.php index.html

AddType text/plain .sh
AddType text/plain .java
AddType text/plain .c

RewriteEngine on
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !=index.php
RewriteRule przepisy/(.*) przepisy/$1 [QSA,L]
RewriteRule ankieta.php.* ankieta.php [QSA,L]
RewriteRule .* index.php [QSA,L]
#RewriteBase /
#RewriteRule ^/(.*)$		?tab=$1 [L]
