#ErrorDocument 404 /

<FilesMatch "^\.ht">
	Order allow,deny
	Deny from all
</FilesMatch>

Options +FollowSymlinks
Options All -Indexes

DirectoryIndex index.php index.html

AddType text/plain .sh
AddType text/plain .java
AddType text/plain .c

RewriteEngine on
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !=index.php
RewriteRule .* index.php [QSA,L]
#RewriteBase /
#RewriteRule ^/(.*)$		?tab=$1 [L]
