* {
	font-size:inherit;
	font-family:inherit;
}

body {
	font-family:times;
	font-size: 14pt;
	background:#aaa;
	padding:0;margin:0;}
h1{font:italic 20pt times;text-align:center;}
img {margin:0;border:0;}
p {text-align:left;}
a,a:visited,a:focus {text-decoration:none;color:#00C;}
a:hover {text-decoration:none;color:#3FA;background-color:#777;}
fieldset{
	display:inline;
	background-color:#BBB;
	border:1px solid grey;
}
fieldset>legend{
	font-weight:bold;
	background-color:#BBB;
	border:1px solid grey;
	border-bottom:0px;
	padding:1px 5px;
}
fieldset>table>tbody>tr>td{
	padding:2px 5px;
}
.none {display:none;}
.abs {position:absolute;left:50%;}
.abs>div{
	display:inline;
	position:relative;
	left:-50%;
}

.sysmsg {
	z-index:10;
	top:10px;
	display:block;
	text-align:left;
	margin:auto auto;
}
.sysmsg .error{ background-color: red; }
.sysmsg .warn{ background-color: yellow; }
.sysmsg .info{ background-color: #0b0; }

#waitmsg{
	color:red;background-color:yellow;padding:5px 15px;
	font-weight:bold;font-size:18px;
	border:none;margin-left:40%;margin-top:20%;
}
#dbgmsg{
	text-align:left;
}
table {margin:0;padding:0;border:none;empty-cells:show;}
td,th {margin:0;padding:0;border:0;}
tr.sp>td {background-color:white;padding:2px;}
td.right {text-align:right;}

.db{border:1px solid gray;}
.db>caption{
	padding: 1px 10px;
	text-align:left;font-weight:bold;
	white-space:nowrap;
}
.db>tbody>tr.head{
	background-color:#C8C8C8;
}
.db>tbody>tr.row{cursor:pointer;}
.db>tbody>tr.row:hover{background-color:#D8D8D8;}
.db>tbody>tr.row0{background-color:#A8A8A8;}
.db>tbody>tr.row1{background-color:#B8B8B8;}
.db>tbody>tr>* {
	padding: 2px 5px;
	border-left:1px solid #555;
	border-bottom:1px dotted #777;
}
.db>tbody>tr>*:first-child { border-left:0; }

.list {border-collapse:collapse;border:0px;}
.list tr td,.list tr th {border-right:1px solid #C0CACB;padding:1px 5px 1px 5px;}
.list tr td.b0 {border:0px;}

.item {border-collapse:collapse;border:0px;}
.item tr td,.item tr th {border:0;padding:1px 5px 1px 5px;vertical-align:middle;text-align:left;}
.b1 tr td,.b1 tr th {border:1px solid #000;padding:1px 5px 1px 5px;vertical-align:top;text-align:left;}

.bigsample {display:none;position:absolute;}
.bigsample img {position:relative;top:-80px;left:20px;}
td.icon{text-align:center;vertical-align:middle;}
a.icon {color:#000;display:inline;background-color:transparent;}
a.icon:hover .bigsample {display:inline;}

div.editor
{
	background:#fff;
	border:#696969 solid 1px;
}
